<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>PhoneBuzz</display-name>
    <servlet>
        <servlet-name>CallBackServlet</servlet-name>
        <servlet-class>com.twilio.CallBackServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>VoiceServlet</servlet-name>
		<servlet-class>com.twilio.VoiceServlet</servlet-class>
	</servlet>
    <servlet-mapping>
		<servlet-name>VoiceServlet</servlet-name>
		<url-pattern>/voice</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallBackServlet</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>

</web-app>